.header {
	padding-block: var(--s0);
}

.navbarLink {
	font-family: var(--amaticbold);
}

.hamburger:focus {
	outline: none;
}

.desktopNav {
	display: none;
}

.hamburger {
	display: flex;
	z-index: 9;
}

@media (min-width: 550px) {
	.hamburger {
		display: none;
	}

	.desktopNav {
		display: block;
	}
}
