.gridStack {
	--stack-align: stretch;
}

.gridWrap {
	--wrap-justify: center;
}

.gridWrap .activeBtn {
	transform: scale(1.3);
	transition: all 0.2s ease-in-out;
}

.imgGrid {
	justify-items: center;
}

.imgGridList > * + * {
	--stack-space: var(--s4);
}

.imgGridList {
	--stack-align: center;
	--stack-justify: start;
	z-index: 99;
	min-block-size: 60vh;
}

.imgGridList a {
	text-decoration: none;
}

.modalImgContainer {
	position: relative;
	inline-size: 100vw;
	block-size: 70vh;
}

.modalImg {
	object-fit: contain;
	/* box-shadow: var(--box-shadow); */
}

.modalImgDescription {
	color: var(--text-secondary);
	position: absolute;
	bottom: -500px;
	left: 50%;
	inline-size: 100%;
	text-align: center;
	opacity: 0;
	transform: translateX(-50%);
	transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.modalImgDescriptionOpen {
	bottom: -50px;
	opacity: 1;
}

.modalLoader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% -50%);
}

@media (max-width: 750px) {
	.modalImgDescription {
		bottom: 0;
	}
}

@media (max-width: 450px) {
	.modalImgDescription {
		bottom: 140px;
	}
}
