.modalWrapper {
	position: fixed;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	overflow: auto;
	opacity: 0;
	transition: all 0.4s ease-in;
}

.modalOpenAnimation {
	opacity: 1;
	backdrop-filter: blur(10px);
}

.modalCloseAnimation {
	opacity: 0;
	backdrop-filter: blur(0);
}

.modalClose {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 10;
}

.modalClose svg {
	fill: var(--secondary);
	transition: fill 0.2s ease;
}

.modalClose svg:hover {
	fill: var(--main);
}
.modalBody {
	margin-block: auto;
}
