.modalWrapper {
	position: fixed;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.88);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	overflow: scroll;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.modalOpenAnimation {
	opacity: 1;
}

.modalCloseAnimation {
	opacity: 0;
}

.modalClose {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 100;
}

.modalClose svg {
	fill: var(--secondary);
	transition: fill 0.2s ease;
}

.modalClose svg:hover {
	fill: var(--main);
}
.modalBody {
	margin-block: auto;
}
