.bojanSocials,
.jelenaSocials {
  margin-inline: auto;
}

.bojanSocials svg {
  fill: var(--text-primary);
  transition: fill 0.2s ease-in-out;
}

.bojanSocials svg:hover {
  fill: var(--secondary);
}

.jelenaSocials svg {
  fill: var(--text-primary);
  transition: fill 0.2s ease-in-out;
}

.jelenaSocials svg:hover {
  fill: var(--main);
}

.socialsContainer {
  display: flex;
  justify-content: space-between !important;
}

.socialsContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel {
  color: var(--main);
}

.tel:hover {
  color: var(--secondary);
}

@media (max-width: 550px) {
  .socialsContainer {
    width: 100%;
  }
}
